.home {
  .hero {
    transition: 0.4s ease all;
    animation-name: "fade-in";
    animation-duration: 0.4s;
    min-height: 70vh;
    height: 70vh;
    @media screen and (max-width: 992px) {
      height: 100vh;
      min-height: 100vh;
      text-align: center;
    }
    h1 {
      font-size: 3.5em;
      color: $primary-color;
    }
    .container,
    .row {
      height: 100%;
    }
    &__blurb {
      max-width: 700px;
      font-size: 1.2em;
      color: $grey;
    }
    &__image {
      &-container {
        overflow: hidden;
        @media screen and (max-width: 992px) {
          height: initial;
        }
      }
      object-fit: cover;
      font-size: 1.5em;
      border-radius: 0.25em;
      height: 400px;
      max-height: 50vh;
      width: 100%;
      max-width: 800px;
      // box-shadow: $primary-box-shadow;
      background-size: cover;
    }
  }
}

@keyframes fade-in {
  0% {
    margin-left: -100px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 100%;
  }
}
