// Colors
$primary-color: #237bce;
$secondary-color: #258083;
$grey: #6d6d6d;

//fonts
$primary-heading-font: "Song Myung", serif;
$secondary-heading-font: "Roboto";

//Breakpoints

//Box Shadow
$primary-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
