// Colors
$primary-color: #237bcd;
$secondary-color: #258083;
$tertiary-color: #b2df5f;
$grey: #6d6d6d;

//fonts
$primary-heading-font: "Anton", sans-serif;
$secondary-heading-font: "Roboto";

//Breakpoints

//Box Shadow
$primary-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);

// constants
$header-height: 100px;
