@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700&family=Song+Myung&display=swap");
@import "../node_modules/bootstrap";
@import "./variables";
@import "./mixins";
@import "./utility";

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: 0.4s ease all;
  &:hover {
    color: $primary-color;
  }
}

.wp-block-embed {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.wp-block-embed iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

// Page sections

@import "./header";
@import "./tile";
@import "./home";
@import "./blog-item";
@import "./about";
